<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>body {
        font-family: sans-serif;
        text-align: center;
        background-color: rgb(0, 0, 31);
        color: white;
    }
    @media (max-width: 768px) {
    .welcome_sign {
        font-size: 1.5rem;
    }

    .tag_line {
        font-size: 1rem;
    }

    .login_options input {
        padding: 8px;
        font-size: small;
    }
}
    </style>
    
</head>
<body>
    <h1>Your login was Successful.</h1>
    <a href="/">Login to your account</a>
</body>
</html>